<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova.plugin.qiniu" version="1.0.0">
	<name>qiniu</name>
	<description>基于七牛云编写的Cordova插件</description>
	<license>Apache 2.0</license>
	<keywords>cordova,qiniu,upload</keywords>
	<js-module src="www/qiniu.js" name="qiniu">
		<clobbers target="navigator.qiniu"/>
	</js-module>
	<!--Android-->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<!--Config Function-->
			<feature name="upload">
				<param name="android-package" value="org.cordova.plugin.qiniu.QiniuPlugin" />
			</feature>
		</config-file>
		<!--Config Libs-->
		<source-file src="src/android/libs/android-async-http-1.4.6.jar" target-dir="libs" framework="true" />
		<source-file src="src/android/libs/happy-dns-0.2.4.jar" target-dir="libs" framework="true" />
		<source-file src="src/android/libs/httpclient-4.3.6.jar" target-dir="libs" framework="true" />
		<source-file src="src/android/libs/qiniu-android-sdk-7.0.4.jar" target-dir="libs" framework="true" />
		<!--Config Source-->
		<source-file src="src/android/java/QiniuPlugin.java" target-dir="src/org/cordova/plugin/qiniu/"/>
		<source-file src="src/android/java/QiniuKey.java" target-dir="src/org/cordova/plugin/qiniu/"/>
		<source-file src="src/android/java/StrUtils.java" target-dir="src/org/cordova/plugin/qiniu/"/>
	</platform>
</plugin>



